*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    width:100vw;
    height:100vh;
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/bakery\ 5");
    background-size: cover;
    background-repeat: no-repeat ;
}
.navigation{
    display:flex;
    align-items: center;
    padding:25px;
    justify-content: space-between;
}
img{
    width:100px;
    height:100px;
    border:1px solid rgb(237, 180, 35);
    border-radius: 70px; 
}
a{
    text-decoration: none;
    color:rgb(251, 220, 19);
    margin-left: 50px;
    font-size:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight:30px;
}
a:hover{
    color:white;
}
.heading{
    font-size: 30px;
    margin-left:30px;
}
hr{
    width:1200px;
    margin:30px;
}
.payment{
    display:flex;
}
.left img{
    width:300px;
    height:480px;
    margin-left:50px;
    border-radius: 10px;
}
.right{
    display:flex;
    flex-direction: column;
    margin-left:200px;


}
input{
    margin-top:30px;
    height:40px;
    width:300px;
    border-radius: 10px;
    padding:15px;
    font-size: 15px;
    border:2px solid black;


}
input[type=radio]{
    width:20px;
    height:20px;
    
}
.radio{
   color:white;
}
.order{
        background-color:black;
        color:rgba(237,180,35);
        padding:10px;
        margin-left:15px;
        width:180px;
        border-radius: 20px;
        padding-left: 15px;
        margin-top: 40px;


    }
